
@{
    ViewBag.Title = "ListOfProducts";
}

<h2>ListOfProducts</h2>

<li>AB-132 - Computer - Electronics</li>
<li>AD-124 - Phone - Electronics</li>
<li>AX-233 - Sofa - ForHouse</li>
<li>MN-154 - Table - ForHouse</li>